name: Rename Template to Plugin Name

on:
  workflow_dispatch:

jobs:
  rename:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}

      - name: Remove this workflow file
        run: |
          rm .github/workflows/template-init.yml

      - uses: kota65535/github-template-rename-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
        with:
          from-name: HytalePluginTemplate
          to-name: TestName
